.footer {
  font-family: $amaranth-body-font, sans-serif;
  text-align: center;
  margin-top: 30px;
  animation-name: hide, fadein-main;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0s, 15s;
  color: lightgray;

  .reference, .visit, .copyright {
    padding-bottom: 10px;
  }

  a {
    text-decoration: none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .footer {
    .reference, .visit, .copyright {
      padding-bottom: 0px;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
