{% extends 'base_layout.html' %}

{% block content %}
    <div class="row">
              <iframe id="sc-widget" style="display: none;" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/245481004&amp;auto_play=true"></iframe>
              <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
              <div class="intro col-md-12 col-sm-12 col-xs-12">
                <div class="first">Maybe life should be about more than just surviving.</div>
                <div class="second">Don't we deserve better than that?</div>
                <div class="third">Maybe we do.</div>
              </div>
              <div class="main col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="main-image col-md-12 col-sm-12 col-xs-12">
                    <img src="{{ url_for('static', filename='img/rikleimt.png') }}" />
                  </div>
                </div>
                <div class="row">
                  <div class="tagline col-lg-offset-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    Reborn, Rewritten, Rikleimt
                  </div>
                </div>
                <div class="row">
                  <div class="coming-soon col-lg-offset-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    COMING 2017
                  </div>
                </div>
              </div>
              <div class="col-lg-offset-3 col-lg-6 col-md-12 col-sm-12 col-xs-12 footer">
                <div class="reference col-md-4 col-sm-4 col-xs-12">
                  "Grounder Anthem (Take a Life With Me)" by <a href="https://soundcloud.com/watertowermusic/grounder_anthem_100" target="_blank">Julia Dominczak and Tree Adams</a>
                </div>
                <div class="visit col-md-4 col-sm-4 col-xs-12">
                  Visit Us on <a href="http://clexarikleimt.tumblr.com/" target="_blank">Tumblr</a> | <a href="https://twitter.com/ClexaRikleimt" target="_blank">Twitter</a>
                </div>
                <div class="copyright col-md-4 col-sm-4 col-xs-12">
                  &copy; 2016
                </div>
              </div>
            </div>
{% endblock content %}

{% block footer_content %}
    <script type="application/javascript">
        $(document).ready(function () {
            var widgetIframe = document.getElementById('sc-widget'),
                widget       = SC.Widget(widgetIframe);

            widget.bind(SC.Widget.Events.READY, function() {
                // set new volume level
                widget.setVolume(0.3);
            });
        })
    </script>
{% endblock footer_content %}